/*General colors*/
$color-grey-very-light: #f104f9;
$color-grey-super-light: #912b2b;
$color-grey-super-ultra-light: #ac4f4f;
$color-grey-light: #98c6d0;
$color-grey-normal: #1f1a1d;
$color-blue-ultra-light: #698bc5;
$color-blue-very-light: #698bc5;
$color-blue-light: #698bc5;
$color-blue-mid: #698bc5;
$color-blue-normal: #f81b56;
$color-red-very-light: #ffe8e8;
$color-red-light: #ffb5b5;
$color-red-normal: #ff6868;
$color-yellow-very-light: #fffae6;
$color-yellow-light: #ffefad;
$color-yellow-normal: #ffcf11;
$color-green-very-light: #e8f9f7;
$color-green-light: #b5ece5;
$color-green-normal: #df3333;
$color-purple-very-light: #efecff;
$color-purple-light: #ccc2ff;
$color-purple-normal: #f35bfe;
$color-white-very-light: #d5d1d1;
$color-white-light: #ffffff;
$color-white-normal: #ffffff;

$color-default: $color-grey-normal;